html, body {
  width: 100%;
  min-height: 100%;
  min-width: $minwidth;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  }

* {
  &:before,
  &:after {
    box-sizing: inherit;
  }
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

main {
  background: $mainBg;
}

.container {
  max-width: 1030px;
  padding: 0 15px;
  min-width: $minwidth;
  margin: 0 auto;
}

.ibg{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img{
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
